.products {
  justify-content: center;
  color: green;
  font-size: larger;
}
.form-signin {
  margin-top: 10%;
}
.message {
  color: red;
  margin: 10px;
}

@media (max-width: 576px) {
  .row {
    display: flex;
    flex-wrap: wrap;
  }
  .col-sm-6 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
